<a href="https://colab.research.google.com/github/rg-smith/remote_sensing_course/blob/main/labs/lab3/lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is an introduction to python. 
We will go over some of the basics, including defining variables, data types, loading packages, plotting data, defining functions, and running loops. Click run to the left of each code block to see what it does. Try modifying the code and re-running to get a feel for how it works.

As you go through these exercises, you will notice numbered assignments. After you complete each assignment, take a screenshot and paste it into a separate word document.

First we will run the classic Hello World code. This simply prints the text 'hello world!' To do this, we use a simple function, called print(). A function is a command that can be called, with inputs, to produce some specific result. In python, to run a function you type the command, followed by (). Within the parentheses, you provide the arguments, or inputs, for the function. Each function requires different inputs. The print() function only requires one argument: the string of text, in quotation marks, to be printed.

In [ ]:
print('hello world!')

hello world!

Now we will define a variable, x. Running print(x) after defining it displays the value of the variable.

In [ ]:
x=10
print(x)

10

We can create a new variable, y, as x multiplied by 2. The * symbol multiplies, + and - add and subtract, and ** raises to a power.

**After running this, modify the values below to create your own formula, and run it again. Take a screenshot of the formula, and its output, and include as your answer to #1.**

In [ ]:
y=x*2
print(y)

20

Python has several different types of variables. The variables we have created so far are integers. We can see the type of each variable by using the type() function.

In [ ]:
print(type(x))

We can also create floats (numbers with decimal values), and strings. First, we'll create a variable that is a string.

In [ ]:
a='this is a string'
print(a)
print(type(a))

Strings can be combined with the + symbol

In [ ]:
b=a+a
print(b)

Remember to add spaces though...

Numbers can be converted to strings using the str() function:

In [ ]:
c=str(5)
d=c+' is a number'
print(d)

Now, we will create a float. A float can be created by giving the variable a decimal value, or by simply adding a period after the value.

In [ ]:
e=10.
print(e)
print(type(e))

Now we will learn about loading modules in python. Python has hundreds of modules that can contain functions for specific applications. To run a function within a python module, you must first import the module. When you import the module, you can give it a shortened name, so the functions are easier to type. We will first load one of the most popular python modules, numpy. We'll abreviate it as np.

In [ ]:
import numpy as np

Now, we can run numpy functions by simply typing np. followed by the function name. We'll start with the function np.linspace. This function creates an array (like a table with many rows and one column) of values. It requires three arguments: the initial value of the array, the last value of the array, and the total number of values.

In [ ]:
array=np.linspace(0,1,10)
print(array)

As you can see, we've created an array with 10 values that range from 0 to 1.

Now we will learn about indexing arrays. Indexing means selecting part of an array. In python, we index with the brackets: []. Indexing starts from 0 in python, so using [0] would select the first value of an array, [1] would select the second, and so on.

We can index, or select, a single element from an array like this:

In [ ]:
single_element=array[0]
print(single_element)

Or we can select multiple values in an array. To do that, we use a colon to separate the first value we want from the last value we want. The syntax looks like this: [first value:last value]. Here's an example:

In [ ]:
multiple_elements=array[0:3]
print(multiple_elements)

**For assignment #2, create a new variable, T, that is an array of 20 values ranging from 290 to 310. This array will represent temperatures (in Kelvin) that are commonly experienced on earth. You'll have to replace the ? symbols with values to do this**

In [ ]:
T=np.linspace(?,?,?)

Now, we will define the Stefan-Boltzmann constant, sigma. The notation 'E' is the same as in Excel: 1E5 is the same as 1 x 10^5. The two values in python below are equivalent:

In [ ]:
sigma=5.6697E-8
print(sigma)
print(5.6697*10**-8)

**For assignment #3, calculate the total radiant exitance (M) for the range of temperatures, T that you just defined.**

In [ ]:
M=?

Now we will learn about plotting data in python. The most popular module that is used for plotting is matplotlib.pyplot. We will import it as plt so it's easier to type.

In [ ]:
import matplotlib.pyplot as plt

Now, we can create a nice plot showing temperature vs. total radiant exitance. **For assignment #4, make the plot and include in your answer the difference in M between the highest and lowest temperatures.**

In [ ]:
plt.figure()
plt.plot(T,M)
plt.xlabel('Temperature, K')
plt.ylabel('Total radiant exitance, W m-2 K-4')

Now, we will learn about loops in python. A loop is called by simply typing for. You also need to describe how long the loop will last. I usually do this using the range() function, which creates a simple range of values. Before running a loop, let's look at what the range function does.

In [ ]:
example=range(10)
print(example)

Now, let's create a for loop with that range.

In [ ]:
for val in range(10):
  print(val)

That for loop was really simple. Let's do something just a tad more complex.

In [ ]:
for val in range(10):
  newval=val**2 #raise the value to the power of two
  print(newval)

Notice how putting a '#' in the code causes python to ignore all the text that follows it. This is a nice way to add comments to code and describe what you are doing. For loops can be really useful for repeating tasks, such as loading in multiple files and performing operations on them. We won't do that in this initial exercise, but will do it later on in the class. Let's do just one more for loop. This one will be a timer. For each iteration of the for loop, we will wait one second.

In [ ]:
import time # first we import the time module that we'll use in our loop
for val in range(10):
  time.sleep(1) # this function simply causes python to wait for one second 
  print(str(val)+' seconds have elapsed')

Notice that in the above code, we combined a number (val) with a string and printed it. We converted the number, val, to a string with the str() function, then added the strings together.

For our final exercise we will learn about creating your own function. This is a very powerful tool in python. You can use it to reproduce tasks. You create a function with 'def'. We'll start with a very simple function

In [ ]:
def my_function():
  print('hello world!')
my_function()

You can add arguments to your functions as well. Here's a simple example:

In [ ]:
def my_function(argument):
  print('I like to eat '+argument)
my_function('cheese')

**For assignment #5, change the argument to the function above and re-run it.**

Now, we will create a function that has an output. This is done by using return(output value) at the end of the function

In [ ]:
def multiply(a,b):
  c=a*b
  return(c)
test=multiply(5,4)
print(test)

Let's make a more complicated function. We'll find the length of the hypotenuse of a triangle. We'll use np.sqrt() to take the square root, and ** to take the square.

In [ ]:
def hypotenuse(a,b):
  length=np.sqrt(a**2+b**2)
  return(length)
test=hypotenuse(5,5)
print(test)

**Now that you've seen some examples of creating functions, make a function that calculates the total radiant exitance (M) given a single input value (temperature, T). Test it out and take a screenshot. I'll get you started below.**

In [ ]:
def stefan_boltzmann(?):
  M=???
  return(M)
exitance=stefan_boltzmann(300)
print(exitance)

**Now, create a function that calculates the wavelength of the maximum spectral exitance using the temperature as an argument (Wien's displacement law). Test out the function by calculating the wavelength for the sun, and a common temperature on earth. This is the final assignment of this portion of the lab.**

In [ ]:
???